.trainerForm__header {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height:100%
}

.trainerForm__section__row {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}